# Игнорировать виртуальное окружение
.venv/
venv/

# Игнорировать базу данных SQLite
*.sqlite3

# Игнорировать кэш PyCharm
.idea/

# Игнорировать файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать статические файлы (если они есть)
staticfiles/
media/